<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h3>TItle Baru</h3>
    <form th:object="${mahasiswa}"
          th:method="post"
          th:action="@{/haloPost}">
        <label for="nama"> namanya </label>
        <input type="text" name="nama" id="nama" th:field="*{nama}">
        <label for="umur"> umurnya </label>
        <input type="text" name="umur" id="umur" th:field="*{umur}">
        <button type="submit" class="btn btn-primary">Kirim</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </form>

    <table>
        <thead>
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Umur</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,iterStat: ${all}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${student.nama}">Dimas Maryanto</td>
            <td th:text="${student.umur}">20</td>
        </tr>
        </tbody>
    </table>

</body>
</html>